.navbarLogo {
	
	width:60px;
	height: 35px;
	//margin-left: 5px;
}
.logout{
	font-size:0.575em;
	//display:inline-block;
	padding-left:200px;
	margin-top:-30px;
	width:100%;
	height:46px;
	position: relative;
}
page-home {

}
