.navbarLogo {
	
	width:60px;
	height: 35px;
	//margin-left: 5px;
}
.logout{
	font-size:0.575em;
	//display:inline-block;
	padding-left:200px;
	margin-top:-30px;
	width:100%;
	height:46px;
	position: relative;
}
.btnSize{
	font-size:13px;
	width: 160px;
	height:90px;
	border-radius:7px;
}

page-home {
// .col{
// background: gray;
// border: think solid black;
// }
// .row{
// background: white;
// border: think solid black;
// }
}
