<ion-header>
  <ion-navbar>
    <img ion-right src="assets/imgs/OTRS_logo.png" class="navbarLogo"/>
    <ion-title>Report an Incident</ion-title>
  
  <ion-buttons left>
  	<button ion-button icon-only menuToggle>
  	<ion-icon name="menu"></ion-icon>
  	</button>
  </ion-buttons>
  
  </ion-navbar>
</ion-header>

<ion-content padding class="appBackground">
	<ion-card>
		<ion-card-header>
			Report an Incident
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item>
					<ion-label stacked>Title:</ion-label>
					<ion-input type="text" [(ngModel)]="incidentData.title"> 
					</ion-input>
				</ion-item>

				<ion-item>
					<ion-label stacked>Service:</ion-label>
					<ion-select [(ngModel)]="incidentData.service">
						<ion-option value="1">Help Desk</ion-option>
						<ion-option value="2">IT Operations</ion-option>
						<ion-option value="3">Desktop Management</ion-option>
						<ion-option value="4">Network Access</ion-option>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-label stacked>Description:</ion-label>
					<ion-textarea [(ngModel)]="incidentData.description" placeholder="Enter a description" style="font-size: small;">
					</ion-textarea>
				</ion-item>
				
				<div padding *ngIf="visibility" (click)="toggleArticle()">
					<h3>
					 Previous Article Details
					  <ion-icon color="success" item-right [name]="isArticleShown() ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
					</h3>
					<ion-item *ngFor="let d of articles; let i=index" text-wrap  [ngClass]="{active: isArticleShown(), show : shownArticle, container: !shownArticle}">
					<div *ngIf="isArticleShown()">{{d.articleDescription}}</div>
					</ion-item>
				</div>

				<div *ngIf="visibility">
					<button ion-button full color="success" (click)="updateReportIncident()">Update</button>
				</div>
				<div *ngIf="!visibility">
				<button ion-button full color="success" (click)="reportIncident()">Submit</button>
				</div>
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>
